{
  "openapi": "3.1.0",
  "info": {
    "title": "intelligence-api",
    "summary": "Deployable API-first intelligence service for web search, PII expansion, and social profile matching.",
    "description": "API-first OSINT service for customer intelligence workflows.\n\nAuthentication: send the provisioned API key as `X-API-Key: <key>` or `Authorization: Bearer <key>`.\n\nAll capability responses return normalized, deduplicated, connector-agnostic outputs. Provider provenance\nand connector-specific identifiers are intentionally excluded from public result payloads. Raw source URLs are\nexcluded except for web/adverse-media hits, where `resultUrl` intentionally exposes the full page URL.\n\nEach capability supports inline execution, async job lookup, and server-sent event streaming.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.ie.intrace.ai",
      "description": "Production Intelligence API"
    }
  ],
  "paths": {
    "/v1/web-search": {
      "post": {
        "tags": [
          "web-search"
        ],
        "summary": "Run web/adverse-media search",
        "description": "Create a web-search job and wait for an inline result when `responseMode` is `sync`. If the job does not finish before the inline timeout, or when `responseMode` is `async`, the API returns a persisted job envelope. Every response includes `X-Job-Id` for later lookup.",
        "operationId": "run_web_search_v1_web_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Normalized search hits when completed inline, otherwise a job envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/WebSearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/JobEnvelope_WebSearchResult_"
                    }
                  ],
                  "title": "Response Run Web Search V1 Web Search Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/web-search/stream": {
      "post": {
        "tags": [
          "web-search"
        ],
        "summary": "Create and stream a web/adverse-media job",
        "description": "Create a persisted web-search job and immediately stream typed server-sent events until completion. Use the `X-Job-Id` response header to reconnect at `GET /v1/web-search/jobs/{job_id}/stream` with `Last-Event-ID`.",
        "operationId": "stream_web_search_v1_web_search_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/event-stream": {}
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/web-search/jobs/{job_id}": {
      "get": {
        "tags": [
          "web-search"
        ],
        "summary": "Read a web/adverse-media job",
        "description": "Read the persisted job envelope for one web-search run. When the job has completed, the `result` field contains a paginated page of normalized items controlled by the `limit` and `cursor` query parameters.",
        "operationId": "get_web_search_job_v1_web_search_jobs__job_id__get",
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persisted job state with an optional paginated result page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEnvelope_WebSearchResult_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pii-expansion": {
      "post": {
        "tags": [
          "pii-expansion"
        ],
        "summary": "Run PII expansion",
        "description": "Create a PII-expansion job and wait for an inline result when `responseMode` is `sync`. If the job does not finish before the inline timeout, or when `responseMode` is `async`, the API returns a persisted job envelope. Every response includes `X-Job-Id` for later lookup.",
        "operationId": "run_pii_expansion_v1_pii_expansion_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PiiExpansionRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Normalized identity and related social-candidate results when completed inline, otherwise a job envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/PiiExpansionResult"
                    },
                    {
                      "$ref": "#/components/schemas/JobEnvelope_PiiExpansionResult_"
                    }
                  ],
                  "title": "Response Run Pii Expansion V1 Pii Expansion Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/pii-expansion/stream": {
      "post": {
        "tags": [
          "pii-expansion"
        ],
        "summary": "Create and stream a PII expansion job",
        "description": "Create a persisted PII-expansion job and immediately stream typed server-sent events until completion. Use the `X-Job-Id` response header to reconnect at `GET /v1/pii-expansion/jobs/{job_id}/stream` with `Last-Event-ID`.",
        "operationId": "stream_pii_expansion_v1_pii_expansion_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PiiExpansionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/event-stream": {}
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/pii-expansion/jobs/{job_id}": {
      "get": {
        "tags": [
          "pii-expansion"
        ],
        "summary": "Read a PII expansion job",
        "description": "Read the persisted job envelope for one PII-expansion run. When the job has completed, the `result` field contains a paginated page of normalized items controlled by the `limit` and `cursor` query parameters.",
        "operationId": "get_pii_expansion_job_v1_pii_expansion_jobs__job_id__get",
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persisted job state with an optional paginated result page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEnvelope_PiiExpansionResult_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/social-profile-match": {
      "post": {
        "tags": [
          "social-profile-match"
        ],
        "summary": "Run social profile match analysis",
        "description": "Create a social-profile-match job and wait for an inline result when `responseMode` is `sync`. If the job does not finish before the inline timeout, or when `responseMode` is `async`, the API returns a persisted job envelope. Every response includes `X-Job-Id` for later lookup.",
        "operationId": "run_social_profile_match_v1_social_profile_match_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialMatchRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Normalized scored candidate profiles when completed inline, otherwise a job envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SocialMatchResult"
                    },
                    {
                      "$ref": "#/components/schemas/JobEnvelope_SocialMatchResult_"
                    }
                  ],
                  "title": "Response Run Social Profile Match V1 Social Profile Match Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/social-profile-match/stream": {
      "post": {
        "tags": [
          "social-profile-match"
        ],
        "summary": "Create and stream a social profile match job",
        "description": "Create a persisted social-profile-match job and immediately stream typed server-sent events until completion. Use the `X-Job-Id` response header to reconnect at `GET /v1/social-profile-match/jobs/{job_id}/stream` with `Last-Event-ID`.",
        "operationId": "stream_social_profile_match_v1_social_profile_match_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialMatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/event-stream": {}
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/v1/social-profile-match/jobs/{job_id}": {
      "get": {
        "tags": [
          "social-profile-match"
        ],
        "summary": "Read a social profile match job",
        "description": "Read the persisted job envelope for one social-profile-match run. When the job has completed, the `result` field contains a paginated page of normalized items controlled by the `limit` and `cursor` query parameters.",
        "operationId": "get_social_profile_match_job_v1_social_profile_match_jobs__job_id__get",
        "security": [
          {
            "BearerApiKey": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 25,
              "minimum": 1,
              "default": 25,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persisted job state with an optional paginated result page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEnvelope_SocialMatchResult_"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Service liveness check",
        "operationId": "healthz_healthz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Service readiness check",
        "operationId": "readyz_readyz_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceStatusResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "title": "Code"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "title": "Message"
          },
          "retryable": {
            "type": "boolean",
            "title": "Retryable",
            "default": false
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "ApiError",
        "description": "Standard API error payload."
      },
      "ApiWarning": {
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "title": "Code"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "title": "Message"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "title": "ApiWarning",
        "description": "Non-fatal warning returned alongside results or job state."
      },
      "Capability": {
        "type": "string",
        "enum": [
          "web_search",
          "pii_expansion",
          "social_match"
        ],
        "title": "Capability"
      },
      "ConfidenceCategory": {
        "type": "string",
        "enum": [
          "likely",
          "uncertain"
        ],
        "title": "ConfidenceCategory"
      },
      "ExpansionDepth": {
        "type": "string",
        "enum": [
          "standard",
          "deep"
        ],
        "title": "ExpansionDepth"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "JobEnvelope_PiiExpansionResult_": {
        "properties": {
          "jobId": {
            "type": "string",
            "minLength": 1,
            "title": "Jobid"
          },
          "capability": {
            "$ref": "#/components/schemas/Capability"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Submittedat"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Startedat"
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completedat"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiresat"
          },
          "progress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobProgress"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/PiiExpansionResult"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              },
              {
                "type": "null"
              }
            ]
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "resultUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resulturl"
          },
          "streamUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Streamurl"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "jobId",
          "capability",
          "status",
          "submittedAt"
        ],
        "title": "JobEnvelope[PiiExpansionResult]"
      },
      "JobEnvelope_SocialMatchResult_": {
        "properties": {
          "jobId": {
            "type": "string",
            "minLength": 1,
            "title": "Jobid"
          },
          "capability": {
            "$ref": "#/components/schemas/Capability"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Submittedat"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Startedat"
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completedat"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiresat"
          },
          "progress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobProgress"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SocialMatchResult"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              },
              {
                "type": "null"
              }
            ]
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "resultUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resulturl"
          },
          "streamUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Streamurl"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "jobId",
          "capability",
          "status",
          "submittedAt"
        ],
        "title": "JobEnvelope[SocialMatchResult]"
      },
      "JobEnvelope_WebSearchResult_": {
        "properties": {
          "jobId": {
            "type": "string",
            "minLength": 1,
            "title": "Jobid"
          },
          "capability": {
            "$ref": "#/components/schemas/Capability"
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "title": "Submittedat"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Startedat"
          },
          "completedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Completedat"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expiresat"
          },
          "progress": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobProgress"
              },
              {
                "type": "null"
              }
            ]
          },
          "summary": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/JobSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "result": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebSearchResult"
              },
              {
                "type": "null"
              }
            ]
          },
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              },
              {
                "type": "null"
              }
            ]
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          },
          "resultUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resulturl"
          },
          "streamUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Streamurl"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "jobId",
          "capability",
          "status",
          "submittedAt"
        ],
        "title": "JobEnvelope[WebSearchResult]"
      },
      "JobProgress": {
        "properties": {
          "stage": {
            "type": "string",
            "minLength": 1,
            "title": "Stage"
          },
          "completedSteps": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Completedsteps",
            "default": 0
          },
          "totalSteps": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Totalsteps"
          },
          "message": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Message"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "stage"
        ],
        "title": "JobProgress",
        "description": "Progress metadata for long-running jobs."
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "queued",
          "running",
          "completed",
          "failed",
          "expired"
        ],
        "title": "JobStatus"
      },
      "JobSummary": {
        "properties": {
          "itemsFound": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Itemsfound",
            "default": 0
          },
          "itemsReturned": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Itemsreturned",
            "default": 0
          },
          "connectorsAttempted": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Connectorsattempted",
            "default": 0
          },
          "connectorsSucceeded": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Connectorssucceeded",
            "default": 0
          },
          "connectorsFailed": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Connectorsfailed",
            "default": 0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "JobSummary",
        "description": "Summary counters for a completed or running job."
      },
      "MatchCriterionRecord": {
        "properties": {
          "criterion": {
            "$ref": "#/components/schemas/MatchCriterionType"
          },
          "matched": {
            "type": "boolean",
            "title": "Matched"
          },
          "rationale": {
            "type": "string",
            "minLength": 1,
            "title": "Rationale"
          },
          "scoreContribution": {
            "type": "number",
            "maximum": 1.0,
            "minimum": -1.0,
            "title": "Scorecontribution",
            "default": 0.0
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "criterion",
          "matched",
          "rationale"
        ],
        "title": "MatchCriterionRecord",
        "description": "Per-criterion scoring or corroboration detail."
      },
      "MatchCriterionType": {
        "type": "string",
        "enum": [
          "direct_url",
          "username",
          "display_name",
          "alias",
          "location",
          "employer",
          "email",
          "phone",
          "bio",
          "activity"
        ],
        "title": "MatchCriterionType"
      },
      "MatchedInputReference": {
        "properties": {
          "inputType": {
            "$ref": "#/components/schemas/MatchedInputType"
          },
          "value": {
            "type": "string",
            "minLength": 1,
            "title": "Value"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "inputType",
          "value"
        ],
        "title": "MatchedInputReference",
        "description": "User input that contributed to a normalized item match."
      },
      "MatchedInputType": {
        "type": "string",
        "enum": [
          "name",
          "alias",
          "adverse_term",
          "keyword",
          "region",
          "email",
          "phone",
          "address",
          "username",
          "domain",
          "location",
          "employer",
          "social_url",
          "seed_url",
          "date_of_birth"
        ],
        "title": "MatchedInputType"
      },
      "NaturalLanguageCriterionMatch": {
        "properties": {
          "criterion": {
            "type": "string",
            "minLength": 1,
            "title": "Criterion"
          },
          "rationale": {
            "type": "string",
            "minLength": 1,
            "title": "Rationale"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "criterion",
          "rationale"
        ],
        "title": "NaturalLanguageCriterionMatch",
        "description": "Matched natural-language criterion for one scraped item."
      },
      "PiiExpansionItem": {
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "title": "Id"
          },
          "type": {
            "type": "string",
            "const": "identity_candidate",
            "title": "Type",
            "default": "identity_candidate"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "title": "Label"
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "title": "Summary"
          },
          "confidenceCategory": {
            "$ref": "#/components/schemas/ConfidenceCategory"
          },
          "matchRationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchrationale"
          },
          "matchedInputs": {
            "items": {
              "$ref": "#/components/schemas/MatchedInputReference"
            },
            "type": "array",
            "title": "Matchedinputs"
          },
          "normalizedAttributes": {
            "$ref": "#/components/schemas/SanitizedNormalizedAttributes"
          },
          "safeMetadata": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Safemetadata"
          },
          "fullName": {
            "type": "string",
            "minLength": 1,
            "title": "Fullname"
          },
          "emails": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Emails"
          },
          "phones": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Phones"
          },
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Addresses"
          },
          "usernames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Usernames"
          },
          "relatives": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Relatives"
          },
          "associates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Associates"
          },
          "organizations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Organizations"
          },
          "riskFlags": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Riskflags"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "label",
          "summary",
          "confidenceCategory",
          "fullName"
        ],
        "title": "PiiExpansionItem",
        "description": "Normalized identity-candidate output for PII expansion."
      },
      "PiiExpansionRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/PiiExpansionSubject"
          },
          "seeds": {
            "$ref": "#/components/schemas/PiiExpansionSeeds"
          },
          "depth": {
            "$ref": "#/components/schemas/ExpansionDepth",
            "default": "standard"
          },
          "maxCandidates": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Maxcandidates",
            "default": 10
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "PiiExpansionRequest",
        "description": "Supported request payload for v1 PII expansion."
      },
      "PiiExpansionResult": {
        "properties": {
          "capability": {
            "type": "string",
            "const": "pii_expansion",
            "title": "Capability",
            "default": "pii_expansion"
          },
          "items": {
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PiiExpansionItem"
                },
                {
                  "$ref": "#/components/schemas/SocialProfileMatchItem"
                }
              ]
            },
            "type": "array",
            "title": "Items"
          },
          "limit": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 25
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nextcursor"
          },
          "total": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Total"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "PiiExpansionResult",
        "description": "Inline or final PII expansion result payload."
      },
      "PiiExpansionRunRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/PiiExpansionSubject"
          },
          "seeds": {
            "$ref": "#/components/schemas/PiiExpansionSeeds"
          },
          "depth": {
            "$ref": "#/components/schemas/ExpansionDepth",
            "default": "standard"
          },
          "maxCandidates": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Maxcandidates",
            "default": 10
          },
          "responseMode": {
            "$ref": "#/components/schemas/ResponseMode",
            "default": "sync"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "PiiExpansionRunRequest",
        "description": "Run endpoint payload for PII expansion."
      },
      "PiiExpansionSeeds": {
        "properties": {
          "emails": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Emails"
          },
          "phones": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Phones"
          },
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Addresses"
          },
          "usernames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Usernames"
          },
          "domains": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Domains"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "PiiExpansionSeeds",
        "description": "Supported seed types for v1 identity expansion."
      },
      "PiiExpansionSubject": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "aliases": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Aliases"
          },
          "dob": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Dob"
          },
          "regions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Regions"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name"
        ],
        "title": "PiiExpansionSubject",
        "description": "Subject details supported by v1 PII expansion."
      },
      "ResponseMode": {
        "type": "string",
        "enum": [
          "sync",
          "async"
        ],
        "title": "ResponseMode"
      },
      "SanitizedNormalizedAttributes": {
        "properties": {
          "names": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Names"
          },
          "emails": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Emails"
          },
          "phones": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Phones"
          },
          "usernames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Usernames"
          },
          "domains": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Domains"
          },
          "addresses": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Addresses"
          },
          "locations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Locations"
          },
          "organizations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Organizations"
          },
          "dates": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Dates"
          },
          "keywords": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Keywords"
          },
          "profileHandles": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Profilehandles"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "SanitizedNormalizedAttributes",
        "description": "Sanitized, connector-agnostic normalized attributes."
      },
      "ScrapedItemType": {
        "type": "string",
        "enum": [
          "profile",
          "post",
          "comment",
          "video",
          "channel",
          "other"
        ],
        "title": "ScrapedItemType"
      },
      "ScrapedSocialItem": {
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "title": "Id"
          },
          "type": {
            "type": "string",
            "const": "social_activity",
            "title": "Type",
            "default": "social_activity"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "title": "Label"
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "title": "Summary"
          },
          "confidenceCategory": {
            "$ref": "#/components/schemas/ConfidenceCategory"
          },
          "matchRationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchrationale"
          },
          "matchedInputs": {
            "items": {
              "$ref": "#/components/schemas/MatchedInputReference"
            },
            "type": "array",
            "title": "Matchedinputs"
          },
          "normalizedAttributes": {
            "$ref": "#/components/schemas/SanitizedNormalizedAttributes"
          },
          "safeMetadata": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Safemetadata"
          },
          "platform": {
            "$ref": "#/components/schemas/SocialPlatform"
          },
          "itemKind": {
            "$ref": "#/components/schemas/ScrapedItemType"
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Publishedat"
          },
          "matched": {
            "type": "boolean",
            "title": "Matched",
            "default": false
          },
          "matchedCriteria": {
            "items": {
              "$ref": "#/components/schemas/NaturalLanguageCriterionMatch"
            },
            "type": "array",
            "title": "Matchedcriteria"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "label",
          "summary",
          "confidenceCategory",
          "platform",
          "itemKind"
        ],
        "title": "ScrapedSocialItem",
        "description": "Sanitized recent-activity or scraped social evidence item."
      },
      "ServiceStatusResponse": {
        "properties": {
          "status": {
            "type": "string",
            "title": "Status",
            "default": "ok"
          },
          "service": {
            "type": "string",
            "title": "Service"
          },
          "version": {
            "type": "string",
            "title": "Version"
          },
          "environment": {
            "type": "string",
            "title": "Environment"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "service",
          "version",
          "environment"
        ],
        "title": "ServiceStatusResponse",
        "description": "Standard health and readiness response."
      },
      "SocialMatchRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/SocialMatchSubject"
          },
          "matchingCriteria": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchingcriteria"
          },
          "platforms": {
            "items": {
              "$ref": "#/components/schemas/SocialPlatform"
            },
            "type": "array",
            "title": "Platforms"
          },
          "maxCandidatesPerPlatform": {
            "type": "integer",
            "maximum": 5.0,
            "minimum": 1.0,
            "title": "Maxcandidatesperplatform",
            "default": 3
          },
          "includeRecentActivity": {
            "type": "boolean",
            "title": "Includerecentactivity",
            "default": true
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "SocialMatchRequest",
        "description": "Supported request payload for v1 social profile matching."
      },
      "SocialMatchResult": {
        "properties": {
          "capability": {
            "type": "string",
            "const": "social_match",
            "title": "Capability",
            "default": "social_match"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/SocialProfileMatchItem"
            },
            "type": "array",
            "title": "Items"
          },
          "limit": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 25
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nextcursor"
          },
          "total": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Total"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "SocialMatchResult",
        "description": "Inline or final social profile match result payload."
      },
      "SocialMatchRunRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/SocialMatchSubject"
          },
          "matchingCriteria": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchingcriteria"
          },
          "platforms": {
            "items": {
              "$ref": "#/components/schemas/SocialPlatform"
            },
            "type": "array",
            "title": "Platforms"
          },
          "maxCandidatesPerPlatform": {
            "type": "integer",
            "maximum": 5.0,
            "minimum": 1.0,
            "title": "Maxcandidatesperplatform",
            "default": 3
          },
          "includeRecentActivity": {
            "type": "boolean",
            "title": "Includerecentactivity",
            "default": true
          },
          "responseMode": {
            "$ref": "#/components/schemas/ResponseMode",
            "default": "sync"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "SocialMatchRunRequest",
        "description": "Run endpoint payload for social profile matching."
      },
      "SocialMatchSubject": {
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "aliases": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Aliases"
          },
          "knownLocations": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Knownlocations"
          },
          "knownEmployers": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Knownemployers"
          },
          "knownEmails": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Knownemails"
          },
          "knownPhones": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Knownphones"
          },
          "knownUsernames": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Knownusernames"
          },
          "knownSocialUrls": {
            "items": {
              "type": "string",
              "minLength": 1,
              "format": "uri"
            },
            "type": "array",
            "title": "Knownsocialurls"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name"
        ],
        "title": "SocialMatchSubject",
        "description": "Subject details supported by v1 social profile matching."
      },
      "SocialPlatform": {
        "type": "string",
        "enum": [
          "x",
          "instagram",
          "telegram",
          "youtube",
          "facebook"
        ],
        "title": "SocialPlatform"
      },
      "SocialProfileFacts": {
        "properties": {
          "bio": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bio"
          },
          "location": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Location"
          },
          "followersCount": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Followerscount"
          },
          "verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Verified"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "SocialProfileFacts",
        "description": "Sanitized profile facts surfaced to API consumers."
      },
      "SocialProfileMatchItem": {
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "title": "Id"
          },
          "type": {
            "type": "string",
            "const": "social_profile",
            "title": "Type",
            "default": "social_profile"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "title": "Label"
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "title": "Summary"
          },
          "confidenceCategory": {
            "$ref": "#/components/schemas/ConfidenceCategory"
          },
          "matchRationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchrationale"
          },
          "matchedInputs": {
            "items": {
              "$ref": "#/components/schemas/MatchedInputReference"
            },
            "type": "array",
            "title": "Matchedinputs"
          },
          "normalizedAttributes": {
            "$ref": "#/components/schemas/SanitizedNormalizedAttributes"
          },
          "safeMetadata": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Safemetadata"
          },
          "platform": {
            "$ref": "#/components/schemas/SocialPlatform"
          },
          "username": {
            "type": "string",
            "minLength": 1,
            "title": "Username"
          },
          "displayName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Displayname"
          },
          "score": {
            "type": "number",
            "maximum": 1.0,
            "minimum": 0.0,
            "title": "Score"
          },
          "contradictions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Contradictions"
          },
          "criteria": {
            "items": {
              "$ref": "#/components/schemas/MatchCriterionRecord"
            },
            "type": "array",
            "title": "Criteria"
          },
          "profileFacts": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SocialProfileFacts"
              },
              {
                "type": "null"
              }
            ]
          },
          "scrapedItems": {
            "items": {
              "$ref": "#/components/schemas/ScrapedSocialItem"
            },
            "type": "array",
            "title": "Scrapeditems"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "label",
          "summary",
          "confidenceCategory",
          "platform",
          "username",
          "score"
        ],
        "title": "SocialProfileMatchItem",
        "description": "Normalized candidate profile output for social matching."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WebContentType": {
        "type": "string",
        "enum": [
          "article",
          "post",
          "video",
          "forum_thread",
          "paste",
          "other"
        ],
        "title": "WebContentType"
      },
      "WebPlatform": {
        "type": "string",
        "enum": [
          "web",
          "news",
          "x",
          "reddit",
          "youtube",
          "telegram"
        ],
        "title": "WebPlatform"
      },
      "WebSearchDateRange": {
        "properties": {
          "from": {
            "type": "string",
            "format": "date",
            "title": "From"
          },
          "to": {
            "type": "string",
            "format": "date",
            "title": "To"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "from",
          "to"
        ],
        "title": "WebSearchDateRange",
        "description": "Date-range filter for web search."
      },
      "WebSearchItem": {
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "title": "Id"
          },
          "type": {
            "type": "string",
            "const": "web_hit",
            "title": "Type",
            "default": "web_hit"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "title": "Label"
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "title": "Summary"
          },
          "confidenceCategory": {
            "$ref": "#/components/schemas/ConfidenceCategory"
          },
          "matchRationale": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matchrationale"
          },
          "matchedInputs": {
            "items": {
              "$ref": "#/components/schemas/MatchedInputReference"
            },
            "type": "array",
            "title": "Matchedinputs"
          },
          "normalizedAttributes": {
            "$ref": "#/components/schemas/SanitizedNormalizedAttributes"
          },
          "safeMetadata": {
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": "array"
                },
                {
                  "type": "null"
                }
              ]
            },
            "type": "object",
            "title": "Safemetadata"
          },
          "sourceType": {
            "$ref": "#/components/schemas/WebSourceType"
          },
          "displayDomain": {
            "type": "string",
            "minLength": 1,
            "title": "Displaydomain"
          },
          "resultUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resulturl",
            "description": "Full URL for web/adverse-media hits. Web results intentionally expose the source URL so investigators can review the underlying page."
          },
          "contentType": {
            "$ref": "#/components/schemas/WebContentType"
          },
          "publishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Publishedat"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "label",
          "summary",
          "confidenceCategory",
          "sourceType",
          "displayDomain",
          "contentType"
        ],
        "title": "WebSearchItem",
        "description": "Normalized web/adverse-media result item."
      },
      "WebSearchRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/WebSearchSubject"
          },
          "adverseTerms": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Adverseterms"
          },
          "seedUrls": {
            "items": {
              "type": "string",
              "minLength": 1,
              "format": "uri"
            },
            "type": "array",
            "title": "Seedurls"
          },
          "socialAccounts": {
            "items": {
              "$ref": "#/components/schemas/WebSearchSocialAccount"
            },
            "type": "array",
            "title": "Socialaccounts"
          },
          "platformFilters": {
            "items": {
              "$ref": "#/components/schemas/WebPlatform"
            },
            "type": "array",
            "title": "Platformfilters",
            "default": [
              "web",
              "news"
            ]
          },
          "dateRange": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebSearchDateRange"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxResults": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Maxresults",
            "default": 50
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "WebSearchRequest",
        "description": "Supported request payload for the web/adverse-media capability."
      },
      "WebSearchResult": {
        "properties": {
          "capability": {
            "type": "string",
            "const": "web_search",
            "title": "Capability",
            "default": "web_search"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/WebSearchItem"
            },
            "type": "array",
            "title": "Items"
          },
          "limit": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 50
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Nextcursor"
          },
          "total": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Total"
          },
          "warnings": {
            "items": {
              "$ref": "#/components/schemas/ApiWarning"
            },
            "type": "array",
            "title": "Warnings"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "WebSearchResult",
        "description": "Inline or final web/adverse-media result payload."
      },
      "WebSearchRunRequest": {
        "properties": {
          "subject": {
            "$ref": "#/components/schemas/WebSearchSubject"
          },
          "adverseTerms": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Adverseterms"
          },
          "seedUrls": {
            "items": {
              "type": "string",
              "minLength": 1,
              "format": "uri"
            },
            "type": "array",
            "title": "Seedurls"
          },
          "socialAccounts": {
            "items": {
              "$ref": "#/components/schemas/WebSearchSocialAccount"
            },
            "type": "array",
            "title": "Socialaccounts"
          },
          "platformFilters": {
            "items": {
              "$ref": "#/components/schemas/WebPlatform"
            },
            "type": "array",
            "title": "Platformfilters",
            "default": [
              "web",
              "news"
            ]
          },
          "dateRange": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/WebSearchDateRange"
              },
              {
                "type": "null"
              }
            ]
          },
          "maxResults": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Maxresults",
            "default": 50
          },
          "responseMode": {
            "$ref": "#/components/schemas/ResponseMode",
            "default": "sync"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "WebSearchRunRequest",
        "description": "Run endpoint payload for web search."
      },
      "WebSearchSocialAccount": {
        "properties": {
          "platform": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SocialPlatform"
              },
              {
                "type": "null"
              }
            ]
          },
          "username": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Username"
          },
          "profileUrl": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "format": "uri"
              },
              {
                "type": "null"
              }
            ],
            "title": "Profileurl"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "WebSearchSocialAccount",
        "description": "Exact social account hint to enrich web/adverse-media context."
      },
      "WebSearchSubject": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/WebSubjectType"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "title": "Name"
          },
          "aliases": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Aliases"
          },
          "regions": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Regions"
          },
          "languages": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Languages"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "title": "WebSearchSubject",
        "description": "Search subject definition for web/adverse-media lookups."
      },
      "WebSourceType": {
        "type": "string",
        "enum": [
          "web",
          "news",
          "social",
          "registry",
          "person_record",
          "derived"
        ],
        "title": "WebSourceType"
      },
      "WebSubjectType": {
        "type": "string",
        "enum": [
          "person",
          "organization",
          "keyword"
        ],
        "title": "WebSubjectType"
      }
    },
    "securitySchemes": {
      "BearerApiKey": {
        "type": "http",
        "description": "Alternative authentication form. Send the provisioned API key as `Authorization: Bearer <key>`.",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Primary authentication header. Send the provisioned API key as `X-API-Key: <key>`.",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    {
      "name": "web-search",
      "description": "Search public web, news, and supported public social surfaces for adverse-media or subject-mention hits."
    },
    {
      "name": "pii-expansion",
      "description": "Expand known identifiers into normalized identity candidates and related sanitized social/profile signals."
    },
    {
      "name": "social-profile-match",
      "description": "Find and score candidate social profiles against supplied corroborating hints and natural-language activity criteria."
    },
    {
      "name": "system",
      "description": "Operational liveness and readiness endpoints."
    }
  ]
}
